<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>City Time</h1>
    <form method="get">
        <select name="city">
            {% for city in cities %}
                <option value="{{ city }}" {% if city == selected_city %}selected{% endif %}>{{ city }}</option>
            {% endfor %}
        </select>
        <button type="submit">Show</button>
    </form>

    <p>Current time in {{ selected_city }}: {{ current_time }}</p>
</body>
</html>